.ErrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 229, 229, 0.8);
  z-index: 999;
}

.ErrorText {
  font-size: 26px;
  color: #e15b64;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}
